<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CircleMapper">
    <!-- 更新导师的circle_id    -->
    <update id="updateUserCircleId">
        UPDATE `user`
        SET `circle_id` = #{circle_id}
        WHERE `username` = #{username}
    </update>

    <!--查询所有圈子-->
    <select id="selectCircleList" resultType="com.example.demo.entity.Circle">
        SELECT *
        FROM circles
        <where>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="owner != null and owner != ''">
                AND owner = #{owner}
            </if>
            <!-- 可以继续添加其他字段 -->
        </where>
    </select>
</mapper>